* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../imagenes/unnamed.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.calculadora {
    display: grid;
    gap: 1em;
    align-items: center;
    width: 100vw;
    height: fit-content;
    border: 3px solid #3f4750;
    border-radius: 10px;
    background-color: #505a65;
    margin: 0;
    padding: 0;
    box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 1em auto 0;
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.operacion {
    margin: auto;
    height: 80px;
    width: 98%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: #65836e;
    border: 1px solid #3f4750;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.botonera {
    display: grid;
    gap: 0;
    margin-bottom: 0;
    height: fit-content;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.normalBtn {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 25px;
    border: 1px solid #3f4750;
    border-radius: 0;
}

#uno {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#dos {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#tres {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#cuatro {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#cinco {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


#seis {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}


#siete {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#ocho {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#nueve {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#suma {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#resta {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


#multiplicacion {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#division {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#igual {
    font-size: 35px;
    border: 1px solid #3f4750;
    border-radius: 0;
    grid-column: 4 / 5;
    grid-row: 3 / 6;
}

#cero {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1rem;
    font-size: 25px;
    border: 1px solid #3f4750;
    border-radius: 0;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

#punto {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.operador {
    background-color: #323332;
    color: white;
    cursor: pointer;
}

.operador:hover {
    background-color: #424141;
    color: white;
}

.operador:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.numero {
    background-color: #5d5d5d;
    color: white;
    cursor: pointer;
}

.numero:hover {
    background-color: #787878;
    color: white;
}

.numero:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.clear {
    background-color: #7e0c0c;
    color: white;
    cursor: pointer;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.clear:hover {
    background-color: #920909;
    color: white;
}

.clear:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.29);
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 1
        /* esto es porque Firefox le reduce la opacidad por defecto */
    ;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}


@media all and (min-width: 425px) {
    .calculadora {
        gap: 1em;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        padding: 0 1.5rem;
        box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.3);
    }

    h1 {
        margin: 1em auto 0;
        font-size: 2em;
    }

    .operacion {
        margin: auto;
        height: 80px;
        width: 98%;
        font-size: 3em;
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }

    .botonera {
        gap: 1em;
    }

    .normalBtn {
        width: 100%;
        height: 100%;
        padding: 1rem;
        font-size: 25px;
        border: 1px solid #3f4750;
        border-radius: 5px;
        box-shadow: -2.5px -2.5px 5px 0px rgba(0, 0, 0, 0.3);
    }

    #cero, #igual {
        border-radius: 5px;
        box-shadow: -2.5px -2.5px 5px 0px rgba(0, 0, 0, 0.3);
    }
}

@media all and (max-height: 525px) and (min-width: 325px) {
    body {
        padding: 8em 0;
        overflow-y: scroll;
    }
}