.about-section {
    transition: all 0.5s ease;
    color: white;
    width: 90%;
    margin: 0;
    padding: .5rem;
    border-radius: 15px;
    background-color: rgb(34, 34, 34, 0.5);
    opacity: 0;
    animation: slidein 1s ease forwards;
    animation-delay: 3s;
}

@keyframes slidein {
    100% { opacity: 1; }
}

.about-section > h2 {
    text-align: center;
    text-shadow: 0px 0px 60px #1A2253;
}

.about-section > p {
    text-align: center;
}

.about-section:hover {
    transition: all 0.5s ease;
    transform: scale(1.1, 1.1);
    border-radius: 25px;
    box-shadow: 0px 2px 12px #1A2253;
}

@media all and (min-width: 675px) {
    .about-section {
        width: 80%;
        margin: .5em;
    }
}

@media all and (min-width: 1024px) {
    .about-section {
        width: 70%;
        margin: .5em;
    }
}

@media all and (min-width: 1275px) {
    .about-section {
        width: 50%;
    }
}