.resume-button, .linkedin-icon, .github-icon {
    display: inline-flex;
    align-items: center;
    margin: .5em;
    background: linear-gradient(45deg, white, #C2C2C2);
    border-radius: 10px;
    transition: all 0.2s ease; 
    text-decoration: none;
    opacity: 0;
    animation: slidein 1s ease forwards;
    animation-delay: 3s;
    flex-wrap: nowrap;
}

@keyframes slidein {
    100% { opacity: 1; }
}

.resume-button:hover, .linkedin-icon:hover, .github-icon:hover {
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
    border-radius: 10px;
    background: linear-gradient(45deg, white, #F2F2F2);
}

.resume-button:active, .linkedin-icon:active, .github-icon:active {
    transition: all 0.2s ease;
    border-radius: 15px;

    background: linear-gradient(45deg, white, #B2B2B2);
}

.resume-button img, .linkedin-icon img, .github-icon img {
    transition: all 0.2s ease;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.resume-button img:hover, .linkedin-icon img:hover, .github-icon img:hover {
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
}

.resume-button img:active, .linkedin-icon img:active, .github-icon img:active {
    transition: all 0.2s ease;
    transform: scale(1 , 1);
}


/* ===========================================*/
/* MEDIA QUERIES */

/* (phones, 375px and up) */
@media (min-width: 675px) {
    .resume-button, .linkedin-icon, .github-icon {
        margin: 0.5rem;
    }

    .resume-button img, .linkedin-icon img, .github-icon img {
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
    }
}