.footer {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: linear-gradient(-120deg,
            #465ADE,
            #3544A6,
            #1a2253,
            #121637);
    background-size: 400% 400%;
    animation: gradient-background 50s ease infinite alternate;
    overflow: hidden;
}

.buttons-section, .footer h2 {
    z-index: 1;
}

.footer-background {
    display: flex;
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.footer-background-icon {
    width: 50%;
    opacity: 0;
    animation: footer-background-animation 50s ease infinite alternate, slidein 5s ease 2s forwards;
}


/* ===========================================*/
/* ANIMATIONS */

@keyframes footer-background-animation {
    0% {
        transform: scale(2);
        transform: rotate(2deg);
        transform: translate(-10%, 5%);
    }

    100%{
        transform: scale(1);
        transform: rotate(-2deg);
        transform: translate(10%, -5%);
    }
}


/* ===========================================*/
/* MEDIA QUERIES */

@media all and (min-width: 1075px) {
    .footer-background {
        width: 100vw;
        gap: 2em;
    }
}

@media all and (max-height: 625px) and (min-width: 425px) {
    .footer {
        padding-left: 14%;
    }
}