header {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: 5rem 0rem;
    text-align: center;
    color: white;
    overflow: hidden;
}

.header-titles {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.portfolio-icon {
    transition: all 0.2s ease;
    position: relative;
    align-self: center;
    width: 15%;
    opacity: 0;
    animation: slidein 1s ease forwards;
    animation-delay: .5s;
}

.portfolio-icon:hover {
    transform: scale(1.2, 1.2) rotateX(-22deg) rotateY(-10deg);
}

header>h1 {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 28ch;
    opacity: 0;
    border-radius: 5px;
    animation: typing 1s steps(17), blink 1s steps(18) forwards;
    overflow: hidden;
}

header>h2 {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 28ch;
    opacity: 0;
    border-radius: 5px;
    animation: typing 1s steps(27), blink 1s steps(28) forwards;
    animation-delay: 1s;
    overflow: hidden;
}

header>h3 {
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    opacity: 0;
    border-radius: 5px;
    animation: typing 1s steps(22), blink 1s steps(23) forwards;
    animation-delay: 2s;
    overflow: hidden;
}

.flag {
    width: 25px;
    height: auto;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    100% {
        border-color: transparent;
        opacity: 1;
    }
}

.header-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 130vw;
    height: 130vh;
    transform: rotate(45deg);
    display: grid;
    gap: 1rem;
    align-items: center;
    opacity: 0;
    animation: background-animation 30s ease infinite alternate, slidein 5s ease 2s forwards;
}

@keyframes slidein {
    100% {
        opacity: 1;
    }
}

@keyframes background-animation {
    0% {
        transform: translate(0%, 0%)
    }

    100% {
        transform: translate(-20%, -5%);
    }
}

.background-icon {
    transition: all 0.2s ease;
    margin: auto;
    width: 50%;
    user-select: none;
    cursor: default;
}

.background-icon:hover {
    width: 49%;
    padding: 1em;
    transform: rotateZ(15deg);
}

.background-icon.icon-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    transform: rotateZ(10deg);
}

.background-icon.icon-2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    transform: rotateZ(-10deg);
}

.background-icon.icon-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: rotateZ(10deg);
}

.background-icon.icon-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    transform: rotateZ(-10deg);
}

.background-icon.icon-5 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    transform: rotateZ(10deg);
}

.background-icon.icon-6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    transform: rotateZ(-10deg);
}

.background-icon.icon-7 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    transform: rotateZ(10deg);
}

.background-icon.icon-8 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    transform: rotateZ(-10deg);
}

.background-icon.icon-9 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    transform: rotateZ(10deg);
}

.background-icon.icon-10 {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    transform: rotateZ(-10deg);
}

.background-icon.icon-11 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    transform: rotateZ(10deg);
}

.background-icon.icon-12 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    transform: rotateZ(-10deg);
}

.background-icon.icon-13 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    transform: rotateZ(10deg);
}

.background-icon.icon-14 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    transform: rotateZ(-10deg);
}

.background-icon.icon-15 {
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    transform: rotateZ(10deg);
}

.background-icon.icon-16 {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    transform: rotateZ(-10deg);
}

.background-icon.icon-17 {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
    transform: rotateZ(10deg);
}

.background-icon.icon-18 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    transform: rotateZ(-10deg);
}

.background-icon.icon-19 {
    grid-column: 3 / 4;
    grid-row: 8 / 9;
    transform: rotateZ(10deg);
}

.background-icon.icon-20 {
    grid-column: 5 / 6;
    grid-row: 8 / 9;
    transform: rotateZ(-10deg);
}


/* ===========================================*/
/* MEDIA QUERIES */

/* (phones, 375px and up) */
@media all and (min-width: 375px) {
    .background-icon {
        width: 45%;
    }

    .background-icon:hover {
        width: 44%;
    }

}

@media all and (min-width: 675px) {
    .portfolio-icon {
        width: 15%;
    }

    .header-background {
        gap: 2rem;
    }

    .background-icon {
        width: 30%;
    }

    .background-icon:hover {
        width: 29%;
    }

}

/* (phones, 1200px and up) */
@media all and (min-width: 1024px) {
    .portfolio-icon {
        width: 25%;
    }

    .header-background {
        gap: 3rem;
    }

    .background-icon {
        width: 25%;
    }

    .background-icon:hover {
        width: 24%;
    }

}

@media all and (max-height: 625px) and (min-width: 425px) {
    header {
        flex-flow: row;
        justify-content: space-evenly;
        align-content: space-around;
    }

    .header-titles {
        width: 60%;
        margin-left: 6em;
    }
}

/* END MEDIA QUERIES */
/* ===========================================*/