.skills-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    padding: 1rem 0 0;
    text-align: center;
    background: radial-gradient(circle,
            #b1b1b1,
            #b2b2b2,
            #a1a1a1,
            #a2a2a2);
    background-size: 500% 500%;
    animation: gradient-background 50s ease infinite alternate;
    overflow: hidden;
}

.skills-section>h2 {
    margin: 0;
    color: rgb(0, 0, 0, 0.5);
    z-index: 0;
}

.right-arrow-button, .left-arrow-button {
    margin: .5em;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
}

.right-arrow-image, .left-arrow-image {
    transition: all 0.2s ease;
}

.right-arrow-image:hover, .left-arrow-image:hover {
    transition: all 0.2s ease;
    transform: scale(1.2, 1.2);
}

.right-arrow-image:active, .left-arrow-image:active {
    transition: all 0.2s ease;
    transform: scale(1, 1);
}

.skill-card {
    transition: all 0.2s ease;
    width: 100%;
    margin: 1.5em;
    padding: .5rem;
    border-radius: 15px;
    color: white;
    background-color: rgb(34, 34, 34, 0.5);
}

.skill-card:hover {
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
    border-radius: 25px;
}

.card-image {
    transition: all 0.2s ease;
    width: 50%;
    height: auto;
}

.card-image:hover {
    width: 51%;
}

.xp-card-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
}

.xp {
    transition: all 0.2s ease;
    width: fit-content;
    margin: auto;
}

.xp:hover {
    transform: scale(1.2, 1.2);
}

.xp-title {
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.xp-image {
    transition: all 0.2s ease;
    width: 50%;
    height: auto;
}

.xp-image:hover {
    transform: scale(1.5, 1.5);
}

.xp-projects {
    transition: all 0.2s ease;
    width: fit-content;
    height: auto;
    padding: 1rem;
    margin: 1em auto;
    font-weight: bold;
    background-color: #2F2F2F5F;
    border-radius: 10px;
}

.xp-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    font-weight: normal;
    background-color: #2c2c2c;
    border-radius: 25px;
    overflow-y: auto;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: all 0.22s ease;
}

.xp-description::-webkit-scrollbar {
    display: none;
}

.skill-card:hover .xp-description {
    visibility: visible;
    transform: scale(1);
    opacity: 0.9;
    transition: all 0.22s ease;
}

.skills-background {
    position: absolute;
    top: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 0;
    align-items: center;
    opacity: 0;
    animation: skills-background-animation 60s ease infinite alternate, slidein 5s ease 5s forwards;
}

.skills-background-icon {
    transition: all 0.2s ease;
    margin: 0;
    width: 60%;
    user-select: none;
}

.skills-background-icon:hover {
    padding: 1em;
}

.skills-background-icon.icon-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    animation: odd-background-icon-animation 10s ease infinite alternate-reverse;
}

.skills-background-icon.icon-2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    animation: even-background-icon-animation 5s ease infinite alternate;
}

.skills-background-icon.icon-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    animation: odd-background-icon-animation 10s ease infinite alternate-reverse;
}

.skills-background-icon.icon-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    animation: even-background-icon-animation 5s ease infinite alternate;
}

.skills-background-icon.icon-5 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    animation: odd-background-icon-animation 10s ease infinite alternate-reverse;
}

.skills-background-icon.icon-6 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    animation: even-background-icon-animation 5s ease infinite alternate;
}

.skills-background-icon.icon-7 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    animation: odd-background-icon-animation 10s ease infinite alternate-reverse;
}

.skills-background-icon.icon-8 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    animation: even-background-icon-animation 5s ease infinite alternate;
}


/* ======================================= */
/* ANIMATIONS */

@keyframes skills-background-animation {
    0% {
        transform: translate(0%, 0%)
    }

    100% {
        transform: translate(22%, 0%);
    }
}



/* ======================================= */
/* MEDIA QUIERIES */

@media all and (min-width: 425px) {
    .right-arrow-button, .left-arrow-button {
        margin: 1em;
        width: 41px;
        height: 41px;
    }

    .skill-card {
        padding: 1rem;
    }
}

@media all and (min-width: 525px) {
    .right-arrow-button, .left-arrow-button {
        margin: 1em;
        width: 42px;
        height: 42px;
    }

    .skill-card {
        padding: 1rem;
    }
}

@media all and (min-width: 625px) {
    .right-arrow-button, .left-arrow-button {
        margin: 1em;
        width: 43px;
        height: 43px;
    }

    .skill-card {
        padding: 1rem;
    }

    .skills-background-icon {
        width: 40%;
    }
}

@media all and (min-width: 775px) {
    .right-arrow-button, .left-arrow-button {
        margin: 1em;
        width: 44px;
        height: 44px;
    }

    .skill-card {
        padding: 1rem;
    }

    .skills-background-icon {
        width: 30%;
    }
}

@media all and (min-width: 825px) {
    .right-arrow-button, .left-arrow-button {
        margin: 1em;
        width: 45px;
        height: 45px;
    }

    .skill-card {
        padding: 1rem;
    }

    .skills-background-icon {
        width: 20%;
    }

}

@media all and (min-width: 1225px) {
    .right-arrow-button, .left-arrow-button {
        margin: 1em;
        width: 46px;
        height: 46px;
    }

    .skill-card {
        margin: 3em;
        padding: 1rem;
    }

    .skills-background-icon {
        width: 20%;
    }

    .xp-description {
        padding: 5rem 2rem;
    }
}

@media all and (max-height: 625px) and (min-width: 425px) {
    .skills-section {
        padding: 0;
        padding-left: 14%;
    }

    .right-arrow-button, .left-arrow-button {
        margin: .5em;
        width: 30px;
        height: 30px;
    }

    .skill-card {
        margin: 1em;
        padding: 1rem;
        align-items: center;
    }

    .card-image {
        width: 30%;
        height: auto;
        margin: .5em auto;
    }

    .xp-card-section {
        padding: 0;
    }

    .xp-title {
        margin: 0;
    }

    .xp-image {
        width: 100px;
        margin: 0;
        padding: 0;
    }

    .xp-projects {
        padding: .5rem;
        margin: auto;
    }

    .xp-description {
        padding: 1rem;
    }
}

@media all and (max-height: 375px) and (min-width: 425px) {
    .skills-section {
        padding: 0;
        padding-left: 14%;
    }

    .right-arrow-button, .left-arrow-button {
        margin: .5em;
        width: 30px;
        height: 30px;
    }

    .skill-card {
        display: grid;
        gap: 0;
        margin: 1em;
        padding: 1rem;
        align-items: center;
    }

    .card-image {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 70%;
        height: auto;
        margin: .5em auto;
    }

    .xp-card-section {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 0;
    }

    .xp-title {
        margin: 0;
    }

    .xp-image {
        width: 100px;
        margin: 0;
        padding: 0;
    }

    .xp-projects {
        padding: .5rem;
        margin: auto;
    }

}

/* END MEDIA QUIERIES */
/* ======================================= */