* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle,
            #465ADE,
            #3544A6,
            #1a2253,
            #121637,
            #465ADE,
            #3544A6);
    background-size: 400% 400%;
    animation: gradient-background 50s ease infinite alternate;
    overflow: hidden;
}

.scroller {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

@keyframes gradient-background {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    75% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    transition: all 0.2s ease;
    font-weight: bolder;
    font-size: 1em;
    text-shadow: 0px 5px 10px #1A2253;
    margin: .5em;
    min-height: 1em;
}

h1:hover {
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
}

h2 {
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: .9em;
    text-shadow: 0px 5px 10px #1A2253;
    margin: .5em;
    min-height: .9em;
}

h2:hover {
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
}

h3 {
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: .8em;
    text-shadow: 0px 5px 10px #1A2253;
    margin: .5em;
    min-height: .8em;
}

h3:hover {
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
}

h4 {
    transition: all 0.2s ease;
    font-weight: bold;
    font-size: .7em;
    text-shadow: 0px 5px 10px #1A2253;
    margin: .5em;
    min-height: .7em;
}

h4:hover {
    transition: all 0.2s ease;
    transform: scale(1.1, 1.1);
}

p {
    transition: all 0.2s ease;
    font-size: .6em;
    margin: .5em;
}

main {
    margin: 0;
    padding: 0;
}

footer {
    margin: 0;
    padding: 5em;
}



/* ===========================================*/
/* MEDIA QUERIES */

/* (phones, 375px and up) */
@media all and (min-width: 375px) {
    h1 {
        font-size: 1.1em;
        min-height: 1.1em;
    }

    h2 {
        font-size: 1em;
        min-height: 1em;
    }

    h3 {
        font-size: .9em;
        min-height: .9em;
    }

    h4 {
        font-size: .8em;
        min-height: .8em;
    }
}

/* (phones, 425px and up) */
@media all and (min-width: 425px) {
    h1 {
        font-size: 1.2em;
        min-height: 1.2em;
    }

    h2 {
        font-size: 1.1em;
        min-height: 1.1em;
    }

    h3 {
        font-size: 1em;
        min-height: 1em;
    }

    h4 {
        font-size: .9em;
        min-height: .9em;
    }

    p {
        font-size: .8em;
    }
}

/* (phones, 675 and up) */
@media all and (min-width: 675px) {
    body {
        background-size: 800% 800%;
    }

    h1 {
        font-size: 1.3em;
        min-height: 1.3em;
    }

    h2 {
        font-size: 1.2em;
        min-height: 1.2em;
    }

    h3 {
        font-size: 1.1em;
        min-height: 1.1em;
    }

    h4 {
        font-size: 1em;
        min-height: 1em;
    }
}

/* (phones, 1024 and up) */
@media all and (min-width: 825) {
    body {
        background-size: 800% 800%;
    }

    h1 {
        font-size: 1.4em;
        min-height: 1.4em;
    }

    h2 {
        font-size: 1.3em;
        min-height: 1.3em;
    }

    h3 {
        font-size: 1.2em;
        min-height: 1.2em;
    }

    h4 {
        font-size: 1.1em;
        min-height: 1.1em;
    }
}

/* (phones, 1024 and up) */
@media all and (min-width: 1125px) {
    body {
        background-size: 800% 800%;
    }

    h1 {
        font-size: 1.5em;
        min-height: 1.5em;
    }

    h2 {
        font-size: 1.4em;
        min-height: 1.4em;
    }

    h3 {
        font-size: 1.3em;
        min-height: 1.3em;
    }

    h4 {
        font-size: 1.2em;
        min-height: 1.2em;
    }
}